body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#posts-container {
    padding: 20px;
}

#loader {
    text-align: center;
    padding: 20px;
    display: none;
}

#loading-spinner {
    text-align: center;
    padding: 20px;
    display: none;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto; /* Center the spinner horizontally */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
